<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li id="home"><a href="/" onclick="selectTab('home')">Home</a></li>
        <li id="about"><a href="/about">About</a></li>
        <li id="projects"><a href="/projects">Projects</a></li>
        <li id="contact"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Welcome to the About page!</h1>
  </div>

</body>

</html>